*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
}

.container{
    width: 78%;
    margin: 0 auto;
}

.header{
    padding-top: 100px;
}

.title{
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.title-line{
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border-width: 0px;
    background-color: #E72424;
}

.subtitle{
    font-size: 14px;
    color:#86878B;
    padding-bottom: 30px;
}

.box-container{
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.box{
    width: 350px;
    height: 225px;
}

.lamp{
    height: 70px;
    width: 70px;
    margin: 0 auto 30px;
    border: 1px solid #E72424;
    border-radius: 50%;
    background: url(../assets/lamp.png) no-repeat center;   
}

.keyboard{
    height: 70px;
    width: 70px;
    margin: 0 auto 30px;
    border: 1px solid #E72424;
    border-radius: 50%;
    background: url(../assets/keyboard.png) no-repeat center;
}

.flash{
    height: 70px;
    width: 70px;
    margin: 0 auto 30px;
    border: 1px solid #E72424;
    border-radius: 50%;
    background: url(../assets/flash.png) no-repeat center;   
}

.box-title{
    margin-bottom: 16px;
    font-size: 20px;
    color: #333333;
}

.box-text{
    font-size: 14px;
    color: #333333;
}

.download-box{
    width: 1400px;
    margin: 0 auto ;
    padding-top: 70px;
    padding-bottom: 38px;
    background: url(../assets/download-box-background.jpg) rgba(0, 0, 0, 0.65);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    vertical-align: left;
}

.download-box-title{
    margin-bottom: 48px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.download-box-line{
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border-width: 0px;
    background-color: #FFFFFF;
}

.download-box-subtitle{
    margin-bottom: 50px;
    font-size: 16px;
    opacity: 0.8;
    color:#FFFFFF;
}

.download-button{
    height: 42px;
    width: 135px;
    font-size: 15px;
    font-family: inherit;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.footer{
    padding-top: 30px;
    background-color: #000000;
}

.axit-contacts-img{
    margin-bottom: 18px;
}

.axure-themes{
    font-size: 12px;
    opacity: 0.5;
    color: #FFFFFF;
}